body
{
    margin: 0;
    padding: 0;
}

#main_page
{
    width: 80%;
    margin: 20px auto 0;
    
    
}

#menu
{
    width: 25%;
    border: 1px solid grey;
    float: left;
    margin-right: 5px;
   
}

#menu a
{
    display: block;
    color: #ccc;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    background-color: green;
    border-bottom: 2px solid grey;
    font-size: 18px;
    font-family: 'Times New Roman', serif;
}


.menu_title
{
    background-color: #ccc;
    font-size: 25px;
    text-align: center;
}



#edit_page
{
    width: 72%;  
    background-color: #ccc;
    overflow: hidden;
    padding-left: 15px;
    min-height: 500px;
}

.category
{
	float: left;
	margin: 15px 0 5px 17px;
	
}

.category img
{
	border: 5px solid #5a94dc;
}

#login_page
{
    background-color: #ccc;
    width: 500px;
    height: 300px;
    margin: 100px auto 0;
}

#login_page form
{
    padding-top: 30px;
    padding-left: 10px;
}

.input
{
    width: 300px;
    height: 20px;
    margin-top: 5px;
    margin-left: 30px;
}

.wel
{
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
}

#button
{
    position: relative;
    width: 200px;
    height: 35px;
    padding: 1px;
    top: 10px;
    right: 0px;
}
